:root {
    --color-primary: #7fdaf7;
    --color-neutral: #787878;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    user-select: none;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    font-family: Tahoma, sans-serif;
    overflow: hidden;
}
.error-message{
    margin: 20px;
}
.chart-container {
    display: inline-block;
    width: 100%;
    flex: auto;
}

.unit-systems-boxes,
.controls,
.search-city,
.footer {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.controls {
    gap: 5px;
}

.controls label {
    padding: 0.2em 0.5em;
    border: 2px solid var(--color-neutral);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls input {
    display: none;
}

.controls input:checked+label {
    color: initial;
    background-color: var(--color-primary);
}

.controls input:disabled+label {
    filter: brightness(75%);
    cursor: not-allowed;
}

.unit-systems-boxes {
    gap: 5px;
    margin-bottom: 0;
}

.search-city form {
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid var(--color-neutral);
    border-radius: 5px;
    color: inherit;
    background-color: inherit;
    margin-bottom: 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-city input {
    color: inherit;
    background: none;
    border: none;
    caret-color: var(--color-primary);
}

.search-city input:focus {
    outline: none;
}

.search-city button {
    display: none;
    background-color: var(--color-primary);
    border: 1px solid;
    border-radius: 5px;
}

.search-city input:not(:placeholder-shown)~#reset-city {
    display: inline-block;
}

.footer {
    gap: 10px;
    margin-bottom: 10px;
}

@media (hover: hover) {

    label:hover,
    .search-city form:hover,
    button:hover {
        transform: scale(1.01);
        box-shadow: 0px 0px 10px 1px var(--color-neutral);
    }
}

@media screen and (max-width: 650px) {
    .chart-container {
        font-size: smaller;
        max-height: 65vh;
    }

    .controls {
        font-size: small;
    }

    .controls label {
        border: 1px solid var(--color-neutral);
    }

    .footer {
        gap: 5px;
    }
}